.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
.header { 
    background: #ff0;
    padding: 20px;
    font-size: 22px;
} 