html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
}

.main {
  padding: 5rem 0;
}
